:root {
    --background: #282828;
    --background-primary: #1D1F21;
    
    --foreground: #EBDBB2;
    --foreground-primary: #C5C8C6;
    
    --accent: #005A9E;
    --error: #B03A30;
    --warn: #D57E15;
    --success: #8A8A0A;

    --border: #000;
    --border-light: #EBDBB2;
}