@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    box-sizing: border-box;
    height: 100dvh;
}
*, *:before, *:after {
    box-sizing: inherit;
    
    font-family: "JetBrains Mono", serif;
    font-weight: 400;
}

body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}

#app {
    background: var(--background-primary);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 10px 0px;
}

p {
    font-size: 12px;
}

input {
    display: block;
    outline: none;
    margin: 6px 0;
    height: 26px;
    background: var(--foreground);
    width: 100%;

    font-size: 12px;

    @include base-shadow(var(--border), var(--border-light));
}

button {
    width: 100%;
    height: 26px;
    display: block;
    margin: 10px 0;
    background: var(--accent);
    color: var(--foreground);

    @include base-shadow(var(--border), var(--border-light));
}

button:hover {
    cursor: pointer;
}

button:active {
    @include invert-shadow(var(--border), var(--border-light));
}